$main-color: rgb(68, 110, 217);
$main-color: #c2b261;
$main-color: #b98e30;
$main-color: #d3af37;
$main-color: rgb(194, 178, 98);
$secondary-color: rgb(222, 209, 147);
$light-color: #f8f9fa;
$dark-color: #1a1d20;
$darker-color: #111316;
